src/site/.classpath
src/site/.gitignore
src/site/.project
src/site/.settings/*
*.bak
.DS_Store
src/site/target/
src/front/node_modules
src/front/html
deploy/dev-env/docker_compose/docker-compose.yml
deploy/docker_compose/sp-dev/docker-compose.yml