<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolpal.db.inf.TContractMapper">
  <resultMap id="BaseResultMap" type="com.schoolpal.db.model.TContract">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="discount_price" jdbcType="DECIMAL" property="discountPrice" />
    <result column="final_price" jdbcType="DECIMAL" property="finalPrice" />
    <result column="paid" jdbcType="DECIMAL" property="paid" />
    <result column="course_type" jdbcType="VARCHAR" property="courseType" />
    <result column="course_ori_id" jdbcType="INTEGER" property="courseOriId" />
    <result column="course_hours" jdbcType="VARCHAR" property="courseHours" />
    <result column="course_times" jdbcType="VARCHAR" property="courseTimes" />
    <result column="stu_ori_id" jdbcType="CHAR" property="stuOriId" />
    <result column="stu_firstname" jdbcType="VARCHAR" property="stuFirstname" />
    <result column="stu_lastname" jdbcType="VARCHAR" property="stuLastname" />
    <result column="stu_gender" jdbcType="INTEGER" property="stuGender" />
    <result column="stu_id_type" jdbcType="INTEGER" property="stuIdType" />
    <result column="stu_id_code" jdbcType="VARCHAR" property="stuIdCode" />
    <result column="stu_birthday" jdbcType="VARCHAR" property="stuBirthday" />
    <result column="stu_grade" jdbcType="VARCHAR" property="stuGrade" />
    <result column="stu_school_name" jdbcType="VARCHAR" property="stuSchoolName" />
    <result column="orgnization_id" jdbcType="CHAR" property="orgnizationId" />
    <result column="creator_id" jdbcType="CHAR" property="creatorId" />
    <result column="executive_id" jdbcType="CHAR" property="executiveId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, type, code, start_date, end_date, original_price, discount_price, final_price, 
    paid, course_type, course_ori_id, course_hours, course_times, stu_ori_id, stu_firstname, 
    stu_lastname, stu_gender, stu_id_type, stu_id_code, stu_birthday, stu_grade, stu_school_name, 
    orgnization_id, creator_id, executive_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.schoolpal.db.model.TContractExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_contract
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_contract
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_contract
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.schoolpal.db.model.TContractExample">
    delete from t_contract
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.schoolpal.db.model.TContract">
    insert into t_contract (id, type, code, 
      start_date, end_date, original_price, 
      discount_price, final_price, paid, 
      course_type, course_ori_id, course_hours, 
      course_times, stu_ori_id, stu_firstname, 
      stu_lastname, stu_gender, stu_id_type, 
      stu_id_code, stu_birthday, stu_grade, 
      stu_school_name, orgnization_id, creator_id, 
      executive_id, create_time)
    values (#{id,jdbcType=CHAR}, #{type,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{originalPrice,jdbcType=DECIMAL}, 
      #{discountPrice,jdbcType=DECIMAL}, #{finalPrice,jdbcType=DECIMAL}, #{paid,jdbcType=DECIMAL}, 
      #{courseType,jdbcType=VARCHAR}, #{courseOriId,jdbcType=INTEGER}, #{courseHours,jdbcType=VARCHAR}, 
      #{courseTimes,jdbcType=VARCHAR}, #{stuOriId,jdbcType=CHAR}, #{stuFirstname,jdbcType=VARCHAR}, 
      #{stuLastname,jdbcType=VARCHAR}, #{stuGender,jdbcType=INTEGER}, #{stuIdType,jdbcType=INTEGER}, 
      #{stuIdCode,jdbcType=VARCHAR}, #{stuBirthday,jdbcType=VARCHAR}, #{stuGrade,jdbcType=VARCHAR}, 
      #{stuSchoolName,jdbcType=VARCHAR}, #{orgnizationId,jdbcType=CHAR}, #{creatorId,jdbcType=CHAR}, 
      #{executiveId,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.schoolpal.db.model.TContract">
    insert into t_contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="originalPrice != null">
        original_price,
      </if>
      <if test="discountPrice != null">
        discount_price,
      </if>
      <if test="finalPrice != null">
        final_price,
      </if>
      <if test="paid != null">
        paid,
      </if>
      <if test="courseType != null">
        course_type,
      </if>
      <if test="courseOriId != null">
        course_ori_id,
      </if>
      <if test="courseHours != null">
        course_hours,
      </if>
      <if test="courseTimes != null">
        course_times,
      </if>
      <if test="stuOriId != null">
        stu_ori_id,
      </if>
      <if test="stuFirstname != null">
        stu_firstname,
      </if>
      <if test="stuLastname != null">
        stu_lastname,
      </if>
      <if test="stuGender != null">
        stu_gender,
      </if>
      <if test="stuIdType != null">
        stu_id_type,
      </if>
      <if test="stuIdCode != null">
        stu_id_code,
      </if>
      <if test="stuBirthday != null">
        stu_birthday,
      </if>
      <if test="stuGrade != null">
        stu_grade,
      </if>
      <if test="stuSchoolName != null">
        stu_school_name,
      </if>
      <if test="orgnizationId != null">
        orgnization_id,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="executiveId != null">
        executive_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="finalPrice != null">
        #{finalPrice,jdbcType=DECIMAL},
      </if>
      <if test="paid != null">
        #{paid,jdbcType=DECIMAL},
      </if>
      <if test="courseType != null">
        #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="courseOriId != null">
        #{courseOriId,jdbcType=INTEGER},
      </if>
      <if test="courseHours != null">
        #{courseHours,jdbcType=VARCHAR},
      </if>
      <if test="courseTimes != null">
        #{courseTimes,jdbcType=VARCHAR},
      </if>
      <if test="stuOriId != null">
        #{stuOriId,jdbcType=CHAR},
      </if>
      <if test="stuFirstname != null">
        #{stuFirstname,jdbcType=VARCHAR},
      </if>
      <if test="stuLastname != null">
        #{stuLastname,jdbcType=VARCHAR},
      </if>
      <if test="stuGender != null">
        #{stuGender,jdbcType=INTEGER},
      </if>
      <if test="stuIdType != null">
        #{stuIdType,jdbcType=INTEGER},
      </if>
      <if test="stuIdCode != null">
        #{stuIdCode,jdbcType=VARCHAR},
      </if>
      <if test="stuBirthday != null">
        #{stuBirthday,jdbcType=VARCHAR},
      </if>
      <if test="stuGrade != null">
        #{stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="stuSchoolName != null">
        #{stuSchoolName,jdbcType=VARCHAR},
      </if>
      <if test="orgnizationId != null">
        #{orgnizationId,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=CHAR},
      </if>
      <if test="executiveId != null">
        #{executiveId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.schoolpal.db.model.TContractExample" resultType="java.lang.Long">
    select count(*) from t_contract
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_contract
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null">
        start_date = #{record.startDate,jdbcType=DATE},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=DATE},
      </if>
      <if test="record.originalPrice != null">
        original_price = #{record.originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.discountPrice != null">
        discount_price = #{record.discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.finalPrice != null">
        final_price = #{record.finalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.paid != null">
        paid = #{record.paid,jdbcType=DECIMAL},
      </if>
      <if test="record.courseType != null">
        course_type = #{record.courseType,jdbcType=VARCHAR},
      </if>
      <if test="record.courseOriId != null">
        course_ori_id = #{record.courseOriId,jdbcType=INTEGER},
      </if>
      <if test="record.courseHours != null">
        course_hours = #{record.courseHours,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTimes != null">
        course_times = #{record.courseTimes,jdbcType=VARCHAR},
      </if>
      <if test="record.stuOriId != null">
        stu_ori_id = #{record.stuOriId,jdbcType=CHAR},
      </if>
      <if test="record.stuFirstname != null">
        stu_firstname = #{record.stuFirstname,jdbcType=VARCHAR},
      </if>
      <if test="record.stuLastname != null">
        stu_lastname = #{record.stuLastname,jdbcType=VARCHAR},
      </if>
      <if test="record.stuGender != null">
        stu_gender = #{record.stuGender,jdbcType=INTEGER},
      </if>
      <if test="record.stuIdType != null">
        stu_id_type = #{record.stuIdType,jdbcType=INTEGER},
      </if>
      <if test="record.stuIdCode != null">
        stu_id_code = #{record.stuIdCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stuBirthday != null">
        stu_birthday = #{record.stuBirthday,jdbcType=VARCHAR},
      </if>
      <if test="record.stuGrade != null">
        stu_grade = #{record.stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.stuSchoolName != null">
        stu_school_name = #{record.stuSchoolName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgnizationId != null">
        orgnization_id = #{record.orgnizationId,jdbcType=CHAR},
      </if>
      <if test="record.creatorId != null">
        creator_id = #{record.creatorId,jdbcType=CHAR},
      </if>
      <if test="record.executiveId != null">
        executive_id = #{record.executiveId,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_contract
    set id = #{record.id,jdbcType=CHAR},
      type = #{record.type,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=DATE},
      end_date = #{record.endDate,jdbcType=DATE},
      original_price = #{record.originalPrice,jdbcType=DECIMAL},
      discount_price = #{record.discountPrice,jdbcType=DECIMAL},
      final_price = #{record.finalPrice,jdbcType=DECIMAL},
      paid = #{record.paid,jdbcType=DECIMAL},
      course_type = #{record.courseType,jdbcType=VARCHAR},
      course_ori_id = #{record.courseOriId,jdbcType=INTEGER},
      course_hours = #{record.courseHours,jdbcType=VARCHAR},
      course_times = #{record.courseTimes,jdbcType=VARCHAR},
      stu_ori_id = #{record.stuOriId,jdbcType=CHAR},
      stu_firstname = #{record.stuFirstname,jdbcType=VARCHAR},
      stu_lastname = #{record.stuLastname,jdbcType=VARCHAR},
      stu_gender = #{record.stuGender,jdbcType=INTEGER},
      stu_id_type = #{record.stuIdType,jdbcType=INTEGER},
      stu_id_code = #{record.stuIdCode,jdbcType=VARCHAR},
      stu_birthday = #{record.stuBirthday,jdbcType=VARCHAR},
      stu_grade = #{record.stuGrade,jdbcType=VARCHAR},
      stu_school_name = #{record.stuSchoolName,jdbcType=VARCHAR},
      orgnization_id = #{record.orgnizationId,jdbcType=CHAR},
      creator_id = #{record.creatorId,jdbcType=CHAR},
      executive_id = #{record.executiveId,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.schoolpal.db.model.TContract">
    update t_contract
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="originalPrice != null">
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null">
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="finalPrice != null">
        final_price = #{finalPrice,jdbcType=DECIMAL},
      </if>
      <if test="paid != null">
        paid = #{paid,jdbcType=DECIMAL},
      </if>
      <if test="courseType != null">
        course_type = #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="courseOriId != null">
        course_ori_id = #{courseOriId,jdbcType=INTEGER},
      </if>
      <if test="courseHours != null">
        course_hours = #{courseHours,jdbcType=VARCHAR},
      </if>
      <if test="courseTimes != null">
        course_times = #{courseTimes,jdbcType=VARCHAR},
      </if>
      <if test="stuOriId != null">
        stu_ori_id = #{stuOriId,jdbcType=CHAR},
      </if>
      <if test="stuFirstname != null">
        stu_firstname = #{stuFirstname,jdbcType=VARCHAR},
      </if>
      <if test="stuLastname != null">
        stu_lastname = #{stuLastname,jdbcType=VARCHAR},
      </if>
      <if test="stuGender != null">
        stu_gender = #{stuGender,jdbcType=INTEGER},
      </if>
      <if test="stuIdType != null">
        stu_id_type = #{stuIdType,jdbcType=INTEGER},
      </if>
      <if test="stuIdCode != null">
        stu_id_code = #{stuIdCode,jdbcType=VARCHAR},
      </if>
      <if test="stuBirthday != null">
        stu_birthday = #{stuBirthday,jdbcType=VARCHAR},
      </if>
      <if test="stuGrade != null">
        stu_grade = #{stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="stuSchoolName != null">
        stu_school_name = #{stuSchoolName,jdbcType=VARCHAR},
      </if>
      <if test="orgnizationId != null">
        orgnization_id = #{orgnizationId,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=CHAR},
      </if>
      <if test="executiveId != null">
        executive_id = #{executiveId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.schoolpal.db.model.TContract">
    update t_contract
    set type = #{type,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
      final_price = #{finalPrice,jdbcType=DECIMAL},
      paid = #{paid,jdbcType=DECIMAL},
      course_type = #{courseType,jdbcType=VARCHAR},
      course_ori_id = #{courseOriId,jdbcType=INTEGER},
      course_hours = #{courseHours,jdbcType=VARCHAR},
      course_times = #{courseTimes,jdbcType=VARCHAR},
      stu_ori_id = #{stuOriId,jdbcType=CHAR},
      stu_firstname = #{stuFirstname,jdbcType=VARCHAR},
      stu_lastname = #{stuLastname,jdbcType=VARCHAR},
      stu_gender = #{stuGender,jdbcType=INTEGER},
      stu_id_type = #{stuIdType,jdbcType=INTEGER},
      stu_id_code = #{stuIdCode,jdbcType=VARCHAR},
      stu_birthday = #{stuBirthday,jdbcType=VARCHAR},
      stu_grade = #{stuGrade,jdbcType=VARCHAR},
      stu_school_name = #{stuSchoolName,jdbcType=VARCHAR},
      orgnization_id = #{orgnizationId,jdbcType=CHAR},
      creator_id = #{creatorId,jdbcType=CHAR},
      executive_id = #{executiveId,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>