<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolpal.db.inf.TContractMapper">

  <select id="selectOneById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from t_contract
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteOneById" parameterType="java.lang.String">
    delete from t_contract
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insertOne" parameterType="com.schoolpal.db.model.TContract">
    insert into t_contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="oriPrice != null">
        ori_price,
      </if>
      <if test="discPrice != null">
        disc_price,
      </if>
      <if test="finalPrice != null">
        final_price,
      </if>
      <if test="paid != null">
        paid,
      </if>
      <if test="courseType != null">
        course_type,
      </if>
      <if test="courseOriId != null">
        course_ori_id,
      </if>
      <if test="courseSesId != null">
        course_ses_id,
      </if>
      <if test="courseHours != null">
        course_hours,
      </if>
      <if test="courseTimes != null">
        course_times,
      </if>
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="stuName != null">
        stu_name,
      </if>
      <if test="stuGender != null">
        stu_gender,
      </if>
      <if test="stuIdType != null">
        stu_id_type,
      </if>
      <if test="stuIdCode != null">
        stu_id_code,
      </if>
      <if test="stuBirthday != null">
        stu_birthday,
      </if>
      <if test="stuGrade != null">
        stu_grade,
      </if>
      <if test="stuSchoolName != null">
        stu_school_name,
      </if>
      <if test="parId != null">
        par_id,
      </if>
      <if test="parName != null">
        par_name,
      </if>
      <if test="parCellphone != null">
        par_cellphone,
      </if>
      <if test="parWeichat != null">
        par_weichat,
      </if>
      <if test="parEmail != null">
        par_email,
      </if>
      <if test="parAddress != null">
        par_address,
      </if>
      <if test="relation != null">
        relation,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="executiveId != null">
        executive_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="oriPrice != null">
        #{oriPrice,jdbcType=DECIMAL},
      </if>
      <if test="discPrice != null">
        #{discPrice,jdbcType=DECIMAL},
      </if>
      <if test="finalPrice != null">
        #{finalPrice,jdbcType=DECIMAL},
      </if>
      <if test="paid != null">
        #{paid,jdbcType=DECIMAL},
      </if>
      <if test="courseType != null">
        #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="courseOriId != null">
        #{courseOriId,jdbcType=INTEGER},
      </if>
      <if test="courseSesId != null">
        #{courseSesId,jdbcType=INTEGER},
      </if>
      <if test="courseHours != null">
        #{courseHours,jdbcType=VARCHAR},
      </if>
      <if test="courseTimes != null">
        #{courseTimes,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=CHAR},
      </if>
      <if test="stuName != null">
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="stuGender != null">
        #{stuGender,jdbcType=INTEGER},
      </if>
      <if test="stuIdType != null">
        #{stuIdType,jdbcType=INTEGER},
      </if>
      <if test="stuIdCode != null">
        #{stuIdCode,jdbcType=VARCHAR},
      </if>
      <if test="stuBirthday != null">
        #{stuBirthday,jdbcType=VARCHAR},
      </if>
      <if test="stuGrade != null">
        #{stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="stuSchoolName != null">
        #{stuSchoolName,jdbcType=VARCHAR},
      </if>
      <if test="parId != null">
        #{parId,jdbcType=CHAR},
      </if>
      <if test="parName != null">
        #{parName,jdbcType=VARCHAR},
      </if>
      <if test="parCellphone != null">
        #{parCellphone,jdbcType=VARCHAR},
      </if>
      <if test="parWeichat != null">
        #{parWeichat,jdbcType=VARCHAR},
      </if>
      <if test="parEmail != null">
        #{parEmail,jdbcType=VARCHAR},
      </if>
      <if test="parAddress != null">
        #{parAddress,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=CHAR},
      </if>
      <if test="executiveId != null">
        #{executiveId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateOne" parameterType="com.schoolpal.db.model.TContract">
    update t_contract
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="oriPrice != null">
        ori_price = #{oriPrice,jdbcType=DECIMAL},
      </if>
      <if test="discPrice != null">
        disc_price = #{discPrice,jdbcType=DECIMAL},
      </if>
      <if test="finalPrice != null">
        final_price = #{finalPrice,jdbcType=DECIMAL},
      </if>
      <if test="paid != null">
        paid = #{paid,jdbcType=DECIMAL},
      </if>
      <if test="courseType != null">
        course_type = #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="courseOriId != null">
        course_ori_id = #{courseOriId,jdbcType=INTEGER},
      </if>
      <if test="courseSesId != null">
        course_ses_id = #{courseSesId,jdbcType=INTEGER},
      </if>
      <if test="courseHours != null">
        course_hours = #{courseHours,jdbcType=VARCHAR},
      </if>
      <if test="courseTimes != null">
        course_times = #{courseTimes,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=CHAR},
      </if>
      <if test="stuName != null">
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="stuGender != null">
        stu_gender = #{stuGender,jdbcType=INTEGER},
      </if>
      <if test="stuIdType != null">
        stu_id_type = #{stuIdType,jdbcType=INTEGER},
      </if>
      <if test="stuIdCode != null">
        stu_id_code = #{stuIdCode,jdbcType=VARCHAR},
      </if>
      <if test="stuBirthday != null">
        stu_birthday = #{stuBirthday,jdbcType=VARCHAR},
      </if>
      <if test="stuGrade != null">
        stu_grade = #{stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="stuSchoolName != null">
        stu_school_name = #{stuSchoolName,jdbcType=VARCHAR},
      </if>
      <if test="parId != null">
        par_id = #{parId,jdbcType=CHAR},
      </if>
      <if test="parName != null">
        par_name = #{parName,jdbcType=VARCHAR},
      </if>
      <if test="parCellphone != null">
        par_cellphone = #{parCellphone,jdbcType=VARCHAR},
      </if>
      <if test="parWeichat != null">
        par_weichat = #{parWeichat,jdbcType=VARCHAR},
      </if>
      <if test="parEmail != null">
        par_email = #{parEmail,jdbcType=VARCHAR},
      </if>
      <if test="parAddress != null">
        par_address = #{parAddress,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=CHAR},
      </if>
      <if test="executiveId != null">
        executive_id = #{executiveId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>










  <resultMap id="BaseResultMap" type="com.schoolpal.db.model.TContract">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="ori_price" jdbcType="DECIMAL" property="oriPrice" />
    <result column="disc_price" jdbcType="DECIMAL" property="discPrice" />
    <result column="final_price" jdbcType="DECIMAL" property="finalPrice" />
    <result column="paid" jdbcType="DECIMAL" property="paid" />
    <result column="course_type" jdbcType="VARCHAR" property="courseType" />
    <result column="course_ori_id" jdbcType="INTEGER" property="courseOriId" />
    <result column="course_ses_id" jdbcType="INTEGER" property="courseSesId" />
    <result column="course_hours" jdbcType="VARCHAR" property="courseHours" />
    <result column="course_times" jdbcType="VARCHAR" property="courseTimes" />
    <result column="stu_id" jdbcType="CHAR" property="stuId" />
    <result column="stu_name" jdbcType="VARCHAR" property="stuName" />
    <result column="stu_gender" jdbcType="INTEGER" property="stuGender" />
    <result column="stu_id_type" jdbcType="INTEGER" property="stuIdType" />
    <result column="stu_id_code" jdbcType="VARCHAR" property="stuIdCode" />
    <result column="stu_birthday" jdbcType="VARCHAR" property="stuBirthday" />
    <result column="stu_grade" jdbcType="VARCHAR" property="stuGrade" />
    <result column="stu_school_name" jdbcType="VARCHAR" property="stuSchoolName" />
    <result column="par_id" jdbcType="CHAR" property="parId" />
    <result column="par_name" jdbcType="VARCHAR" property="parName" />
    <result column="par_cellphone" jdbcType="VARCHAR" property="parCellphone" />
    <result column="par_weichat" jdbcType="VARCHAR" property="parWeichat" />
    <result column="par_email" jdbcType="VARCHAR" property="parEmail" />
    <result column="par_address" jdbcType="VARCHAR" property="parAddress" />
    <result column="relation" jdbcType="VARCHAR" property="relation" />
    <result column="org_id" jdbcType="CHAR" property="orgId" />
    <result column="creator_id" jdbcType="CHAR" property="creatorId" />
    <result column="executive_id" jdbcType="CHAR" property="executiveId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, code, start_date, end_date, ori_price, disc_price, final_price, paid, course_type, 
    course_ori_id, course_ses_id, course_hours, course_times, stu_id, stu_name, stu_gender, 
    stu_id_type, stu_id_code, stu_birthday, stu_grade, stu_school_name, par_id, par_name, 
    par_cellphone, par_weichat, par_email, par_address, relation, org_id, creator_id, 
    executive_id, create_time
  </sql>
</mapper>