<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolpal.db.inf.TCrmAuditMapper">
  <resultMap id="BaseResultMap" type="com.schoolpal.db.model.TCrmAudit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="table" jdbcType="VARCHAR" property="table" />
    <result column="prime_id" jdbcType="CHAR" property="primeId" />
    <result column="action_user_id" jdbcType="CHAR" property="actionUserId" />
    <result column="action_type" jdbcType="VARCHAR" property="actionType" />
    <result column="action_time" jdbcType="TIMESTAMP" property="actionTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.schoolpal.db.model.TCrmAuditWithBLOBs">
    <result column="old_value" jdbcType="LONGVARCHAR" property="oldValue" />
    <result column="new_value" jdbcType="LONGVARCHAR" property="newValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, table, prime_id, action_user_id, action_type, action_time
  </sql>
  <sql id="Blob_Column_List">
    old_value, new_value
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.schoolpal.db.model.TCrmAuditExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_crm_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.schoolpal.db.model.TCrmAuditExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_crm_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_crm_audit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_crm_audit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.schoolpal.db.model.TCrmAuditExample">
    delete from t_crm_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.schoolpal.db.model.TCrmAuditWithBLOBs">
    insert into t_crm_audit (id, table, prime_id, 
      action_user_id, action_type, action_time, 
      old_value, new_value)
    values (#{id,jdbcType=BIGINT}, #{table,jdbcType=VARCHAR}, #{primeId,jdbcType=CHAR}, 
      #{actionUserId,jdbcType=CHAR}, #{actionType,jdbcType=VARCHAR}, #{actionTime,jdbcType=TIMESTAMP}, 
      #{oldValue,jdbcType=LONGVARCHAR}, #{newValue,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.schoolpal.db.model.TCrmAuditWithBLOBs">
    insert into t_crm_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="table != null">
        table,
      </if>
      <if test="primeId != null">
        prime_id,
      </if>
      <if test="actionUserId != null">
        action_user_id,
      </if>
      <if test="actionType != null">
        action_type,
      </if>
      <if test="actionTime != null">
        action_time,
      </if>
      <if test="oldValue != null">
        old_value,
      </if>
      <if test="newValue != null">
        new_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="table != null">
        #{table,jdbcType=VARCHAR},
      </if>
      <if test="primeId != null">
        #{primeId,jdbcType=CHAR},
      </if>
      <if test="actionUserId != null">
        #{actionUserId,jdbcType=CHAR},
      </if>
      <if test="actionType != null">
        #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="actionTime != null">
        #{actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldValue != null">
        #{oldValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="newValue != null">
        #{newValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.schoolpal.db.model.TCrmAuditExample" resultType="java.lang.Long">
    select count(*) from t_crm_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_crm_audit
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.table != null">
        table = #{record.table,jdbcType=VARCHAR},
      </if>
      <if test="record.primeId != null">
        prime_id = #{record.primeId,jdbcType=CHAR},
      </if>
      <if test="record.actionUserId != null">
        action_user_id = #{record.actionUserId,jdbcType=CHAR},
      </if>
      <if test="record.actionType != null">
        action_type = #{record.actionType,jdbcType=VARCHAR},
      </if>
      <if test="record.actionTime != null">
        action_time = #{record.actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oldValue != null">
        old_value = #{record.oldValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.newValue != null">
        new_value = #{record.newValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_crm_audit
    set id = #{record.id,jdbcType=BIGINT},
      table = #{record.table,jdbcType=VARCHAR},
      prime_id = #{record.primeId,jdbcType=CHAR},
      action_user_id = #{record.actionUserId,jdbcType=CHAR},
      action_type = #{record.actionType,jdbcType=VARCHAR},
      action_time = #{record.actionTime,jdbcType=TIMESTAMP},
      old_value = #{record.oldValue,jdbcType=LONGVARCHAR},
      new_value = #{record.newValue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_crm_audit
    set id = #{record.id,jdbcType=BIGINT},
      table = #{record.table,jdbcType=VARCHAR},
      prime_id = #{record.primeId,jdbcType=CHAR},
      action_user_id = #{record.actionUserId,jdbcType=CHAR},
      action_type = #{record.actionType,jdbcType=VARCHAR},
      action_time = #{record.actionTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.schoolpal.db.model.TCrmAuditWithBLOBs">
    update t_crm_audit
    <set>
      <if test="table != null">
        table = #{table,jdbcType=VARCHAR},
      </if>
      <if test="primeId != null">
        prime_id = #{primeId,jdbcType=CHAR},
      </if>
      <if test="actionUserId != null">
        action_user_id = #{actionUserId,jdbcType=CHAR},
      </if>
      <if test="actionType != null">
        action_type = #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="actionTime != null">
        action_time = #{actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldValue != null">
        old_value = #{oldValue,jdbcType=LONGVARCHAR},
      </if>
      <if test="newValue != null">
        new_value = #{newValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.schoolpal.db.model.TCrmAuditWithBLOBs">
    update t_crm_audit
    set table = #{table,jdbcType=VARCHAR},
      prime_id = #{primeId,jdbcType=CHAR},
      action_user_id = #{actionUserId,jdbcType=CHAR},
      action_type = #{actionType,jdbcType=VARCHAR},
      action_time = #{actionTime,jdbcType=TIMESTAMP},
      old_value = #{oldValue,jdbcType=LONGVARCHAR},
      new_value = #{newValue,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.schoolpal.db.model.TCrmAudit">
    update t_crm_audit
    set table = #{table,jdbcType=VARCHAR},
      prime_id = #{primeId,jdbcType=CHAR},
      action_user_id = #{actionUserId,jdbcType=CHAR},
      action_type = #{actionType,jdbcType=VARCHAR},
      action_time = #{actionTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>