<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolpal.db.inf.TFunctionMapper">

  <resultMap id="FuncResultMap" type="com.schoolpal.db.model.TFunction">
    <id column="c_id" jdbcType="CHAR" property="cId" />
    <result column="c_root_id" jdbcType="VARCHAR" property="cRootId" />
    <result column="c_parent_id" jdbcType="VARCHAR" property="cParentId" />
    <result column="c_name_short" jdbcType="VARCHAR" property="cNameShort" />
    <result column="c_name_long" jdbcType="VARCHAR" property="cNameLong" />
    <result column="c_action" jdbcType="VARCHAR" property="cAction" />
    <result column="c_widget_type_id" jdbcType="INTEGER" property="cWidgetTypeId" />
    <result column="c_order_num" jdbcType="INTEGER" property="cOrderNum" />
    <result column="c_icon" jdbcType="VARCHAR" property="cIcon" />
    <result column="widget_name" jdbcType="VARCHAR" property="WidgetType" />
    <result column="command_code" jdbcType="VARCHAR" property="CommandCode" />
    <result column="command_name" jdbcType="VARCHAR" property="CommandName" />
  </resultMap>
  <select id="selectFuncsByRoleId" parameterType="java.lang.String" resultMap="FuncResultMap">
    SELECT f.*, 
        wt.c_name AS widget_name, 
        ct.c_code AS command_code, ct.c_name AS command_name
    FROM t_role_function rf
        INNER JOIN t_function f on f.c_root_id = rf.c_function_root_id 
        LEFT JOIN t_widget_type wt on f.c_widget_type_id = wt.c_id
        LEFT JOIN t_command_type ct on f.c_command_type_id = ct.c_id
    WHERE rf.c_role_id = #{cId,jdbcType=CHAR}
    ORDER BY f.c_id
  </select>
<!--   <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql> -->
  <sql id="Base_Column_List">
    c_id, c_root_id, c_parent_id, c_name_short, c_name_long, c_action, c_widget_type_id, 
    c_order_num, c_icon
  </sql>
<!--   <select id="selectByExample" parameterType="com.schoolpal.db.model.TFunctionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_function
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_function
    where c_id = #{cId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_function
    where c_id = #{cId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.schoolpal.db.model.TFunctionExample">
    delete from t_function
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.schoolpal.db.model.TFunction">
    insert into t_function (c_id, c_root_id, c_parent_id, 
      c_name_short, c_name_long, c_action, 
      c_widget_type_id, c_order_num, c_icon
      )
    values (#{cId,jdbcType=CHAR}, #{cRootId,jdbcType=VARCHAR}, #{cParentId,jdbcType=VARCHAR}, 
      #{cNameShort,jdbcType=VARCHAR}, #{cNameLong,jdbcType=VARCHAR}, #{cAction,jdbcType=VARCHAR}, 
      #{cWidgetTypeId,jdbcType=INTEGER}, #{cOrderNum,jdbcType=INTEGER}, #{cIcon,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.schoolpal.db.model.TFunction">
    insert into t_function
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        c_id,
      </if>
      <if test="cRootId != null">
        c_root_id,
      </if>
      <if test="cParentId != null">
        c_parent_id,
      </if>
      <if test="cNameShort != null">
        c_name_short,
      </if>
      <if test="cNameLong != null">
        c_name_long,
      </if>
      <if test="cAction != null">
        c_action,
      </if>
      <if test="cWidgetTypeId != null">
        c_widget_type_id,
      </if>
      <if test="cOrderNum != null">
        c_order_num,
      </if>
      <if test="cIcon != null">
        c_icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=CHAR},
      </if>
      <if test="cRootId != null">
        #{cRootId,jdbcType=VARCHAR},
      </if>
      <if test="cParentId != null">
        #{cParentId,jdbcType=VARCHAR},
      </if>
      <if test="cNameShort != null">
        #{cNameShort,jdbcType=VARCHAR},
      </if>
      <if test="cNameLong != null">
        #{cNameLong,jdbcType=VARCHAR},
      </if>
      <if test="cAction != null">
        #{cAction,jdbcType=VARCHAR},
      </if>
      <if test="cWidgetTypeId != null">
        #{cWidgetTypeId,jdbcType=INTEGER},
      </if>
      <if test="cOrderNum != null">
        #{cOrderNum,jdbcType=INTEGER},
      </if>
      <if test="cIcon != null">
        #{cIcon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.schoolpal.db.model.TFunctionExample" resultType="java.lang.Long">
    select count(*) from t_function
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_function
    <set>
      <if test="record.cId != null">
        c_id = #{record.cId,jdbcType=CHAR},
      </if>
      <if test="record.cRootId != null">
        c_root_id = #{record.cRootId,jdbcType=VARCHAR},
      </if>
      <if test="record.cParentId != null">
        c_parent_id = #{record.cParentId,jdbcType=VARCHAR},
      </if>
      <if test="record.cNameShort != null">
        c_name_short = #{record.cNameShort,jdbcType=VARCHAR},
      </if>
      <if test="record.cNameLong != null">
        c_name_long = #{record.cNameLong,jdbcType=VARCHAR},
      </if>
      <if test="record.cAction != null">
        c_action = #{record.cAction,jdbcType=VARCHAR},
      </if>
      <if test="record.cWidgetTypeId != null">
        c_widget_type_id = #{record.cWidgetTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.cOrderNum != null">
        c_order_num = #{record.cOrderNum,jdbcType=INTEGER},
      </if>
      <if test="record.cIcon != null">
        c_icon = #{record.cIcon,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_function
    set c_id = #{record.cId,jdbcType=CHAR},
      c_root_id = #{record.cRootId,jdbcType=VARCHAR},
      c_parent_id = #{record.cParentId,jdbcType=VARCHAR},
      c_name_short = #{record.cNameShort,jdbcType=VARCHAR},
      c_name_long = #{record.cNameLong,jdbcType=VARCHAR},
      c_action = #{record.cAction,jdbcType=VARCHAR},
      c_widget_type_id = #{record.cWidgetTypeId,jdbcType=INTEGER},
      c_order_num = #{record.cOrderNum,jdbcType=INTEGER},
      c_icon = #{record.cIcon,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.schoolpal.db.model.TFunction">
    update t_function
    <set>
      <if test="cRootId != null">
        c_root_id = #{cRootId,jdbcType=VARCHAR},
      </if>
      <if test="cParentId != null">
        c_parent_id = #{cParentId,jdbcType=VARCHAR},
      </if>
      <if test="cNameShort != null">
        c_name_short = #{cNameShort,jdbcType=VARCHAR},
      </if>
      <if test="cNameLong != null">
        c_name_long = #{cNameLong,jdbcType=VARCHAR},
      </if>
      <if test="cAction != null">
        c_action = #{cAction,jdbcType=VARCHAR},
      </if>
      <if test="cWidgetTypeId != null">
        c_widget_type_id = #{cWidgetTypeId,jdbcType=INTEGER},
      </if>
      <if test="cOrderNum != null">
        c_order_num = #{cOrderNum,jdbcType=INTEGER},
      </if>
      <if test="cIcon != null">
        c_icon = #{cIcon,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.schoolpal.db.model.TFunction">
    update t_function
    set c_root_id = #{cRootId,jdbcType=VARCHAR},
      c_parent_id = #{cParentId,jdbcType=VARCHAR},
      c_name_short = #{cNameShort,jdbcType=VARCHAR},
      c_name_long = #{cNameLong,jdbcType=VARCHAR},
      c_action = #{cAction,jdbcType=VARCHAR},
      c_widget_type_id = #{cWidgetTypeId,jdbcType=INTEGER},
      c_order_num = #{cOrderNum,jdbcType=INTEGER},
      c_icon = #{cIcon,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=CHAR}
  </update> -->
</mapper>