<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolpal.db.inf.TLeadsMapper">

  <insert id="insertOne" parameterType="com.schoolpal.db.model.TLeads">
    insert into t_leads
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseType != null">
        course_type,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="stageId != null">
        stage_id,
      </if>
      <if test="statusId != null">
        status_id,
      </if>
      <if test="orgnizationId != null">
        orgnization_id,
      </if>
      <if test="executiveId != null">
        executive_id,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdate != null">
        last_update,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="courseType != null">
        #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="stageId != null">
        #{stageId,jdbcType=INTEGER},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=INTEGER},
      </if>
      <if test="orgnizationId != null">
        #{orgnizationId,jdbcType=CHAR},
      </if>
      <if test="executiveId != null">
        #{executiveId,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateOne" parameterType="com.schoolpal.db.model.TLeads">
    update t_leads
    <set>
      <if test="courseType != null">
        course_type = #{courseType,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=CHAR},
      </if>
      <if test="stageId != null">
        stage_id = #{stageId,jdbcType=INTEGER},
      </if>
      <if test="statusId != null">
        status_id = #{statusId,jdbcType=INTEGER},
      </if>
      <if test="orgnizationId != null">
        orgnization_id = #{orgnizationId,jdbcType=CHAR},
      </if>
      <if test="executiveId != null">
        executive_id = #{executiveId,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdate != null">
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateExecutiveById">
    update t_leads
    set executive_id = #{userId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateTypeById">
    update t_leads
    set type_id = #{typeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
  <delete id="deleteOneById" parameterType="java.lang.String">
    delete from t_leads
    where id = #{id,jdbcType=CHAR}
  </delete>
  <select id="selectStudentAndParentById" parameterType="java.lang.String" resultMap="StudentAndParentResultMap">
    SELECT id,student_id,parent_id
    FROM t_leads
    WHERE id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectOneById" parameterType="java.lang.String" resultMap="ExtendedResultMap">
    SELECT l.id, l.course_type, l.course_name, l.type_id, l.source_id, l.student_id, l.parent_id, 
        l.channel_id, l.stage_id, l.status_id, l.orgnization_id, 
        l.executive_id, l.creator_id, l.create_time, l.note, 
        s.name AS student_name, s.gender_id, s.birthday, s.class_grade, s.school_name,
        p.name AS parent_name, p.cellphone, p.weichat, p.address, p.relation,
        uc.c_realname AS creator_name,
        ue.c_realname AS executive_name,
        src.name AS source_name,
        a.name AS channel_name,
        stage.name AS stage_name,
        status.name AS status_name,
        o.c_name AS orgnization_name
    from t_leads AS l
    LEFT JOIN t_leads_student AS s ON s.id = l.student_id
    LEFT JOIN t_leads_parent AS p ON p.id = l.parent_id
    LEFT JOIN t_user AS uc ON uc.c_id = l.creator_id
    LEFT JOIN t_user AS ue ON ue.c_id = l.creator_id
    LEFT JOIN t_leads_source AS src ON src.id = l.source_id
    LEFT JOIN t_activity AS a ON a.id = l.channel_id
    LEFT JOIN t_leads_stage AS stage ON stage.id = l.stage_id
    LEFT JOIN t_leads_status AS status ON status.id = l.status_id
    LEFT JOIN t_org AS o ON o.c_id = l.orgnization_id
    where l.id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectManyByOrgAndTypeId" resultMap="ExtendedResultMap">
    SELECT l.id, l.course_type, l.course_name, l.type_id, l.source_id, l.student_id, l.parent_id, 
        l.channel_id, l.stage_id, l.status_id, l.orgnization_id, 
        l.executive_id, l.creator_id, l.create_time, l.note, 
        s.name AS student_name, s.gender_id, s.birthday, s.class_grade, s.school_name,
        p.name AS parent_name, p.cellphone, p.weichat, p.address, p.relation,
        uc.c_realname AS creator_name,
        ue.c_realname AS executive_name,
        src.name AS source_name,
        a.name AS channel_name,
        stage.name AS stage_name,
        status.name AS status_name,
        o.c_name AS orgnization_name
    FROM t_leads AS l
    LEFT JOIN t_leads_student AS s ON s.id = l.student_id
    LEFT JOIN t_leads_parent AS p ON p.id = l.parent_id
    LEFT JOIN t_user AS uc ON uc.c_id = l.creator_id
    LEFT JOIN t_user AS ue ON ue.c_id = l.creator_id
    LEFT JOIN t_leads_source AS src ON src.id = l.source_id
    LEFT JOIN t_activity AS a ON a.id = l.channel_id
    LEFT JOIN t_leads_stage AS stage ON stage.id = l.stage_id
    LEFT JOIN t_leads_status AS status ON status.id = l.status_id
    LEFT JOIN t_org AS o ON o.c_id = l.orgnization_id
    WHERE l.orgnization_id = #{orgId,jdbcType=CHAR} AND l.type_id = #{typeId,jdbcType=INTEGER}
  </select>





  <resultMap id="ExtendedResultMap" type="com.schoolpal.db.model.TLeads">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="course_type" jdbcType="VARCHAR" property="courseType" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="student_id" jdbcType="CHAR" property="studentId" />
    <result column="parent_id" jdbcType="CHAR" property="parentId" />
    <result column="source_id" jdbcType="INTEGER" property="sourceId" />
    <result column="source_name" jdbcType="VARCHAR" property="sourceName" />
    <result column="channel_id" jdbcType="CHAR" property="channelId" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="stage_id" jdbcType="INTEGER" property="stageId" />
    <result column="stage_name" jdbcType="VARCHAR" property="stageName" />
    <result column="status_id" jdbcType="INTEGER" property="statusId" />
    <result column="status_name" jdbcType="VARCHAR" property="statusName" />
    <result column="orgnization_id" jdbcType="CHAR" property="orgnizationId" />
    <result column="orgnization_name" jdbcType="VARCHAR" property="orgnizationName" />
    <result column="executive_id" jdbcType="CHAR" property="executiveId" />
    <result column="executive_name" jdbcType="VARCHAR" property="executiveName" />
    <result column="creator_id" jdbcType="CHAR" property="creatorId" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <association property="student" javaType="com.schoolpal.db.model.TLeadsStudent">
        <id column="student_id" jdbcType="CHAR" property="id" />
        <result column="student_name" jdbcType="VARCHAR" property="name" />
        <result column="gender_id" jdbcType="VARCHAR" property="genderId" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
        <result column="class_grade" jdbcType="VARCHAR" property="classGrade" />
        <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    </association>
    <association property="parent" javaType="com.schoolpal.db.model.TLeadsParent">
        <id column="parent_id" jdbcType="CHAR" property="id" />
        <result column="parent_name" jdbcType="VARCHAR" property="name" />
        <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
        <result column="weichat" jdbcType="VARCHAR" property="weichat" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="relation" jdbcType="VARCHAR" property="relation" />
    </association>
  </resultMap>
  <resultMap id="StudentAndParentResultMap" type="com.schoolpal.db.model.TLeads">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="student_id" jdbcType="CHAR" property="studentId" />
    <result column="parent_id" jdbcType="CHAR" property="parentId" />
  </resultMap>







  <resultMap id="BaseResultMap" type="com.schoolpal.db.model.TLeads">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="course_type" jdbcType="VARCHAR" property="courseType" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="source" jdbcType="INTEGER" property="source" />
    <result column="channel" jdbcType="CHAR" property="channel" />
    <result column="stage" jdbcType="INTEGER" property="stage" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="orgnization_id" jdbcType="CHAR" property="orgnizationId" />
    <result column="executive_id" jdbcType="CHAR" property="executiveId" />
    <result column="creator_id" jdbcType="CHAR" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, course_type, course_name, type, source, channel, stage, status, orgnization_id, 
    executive_id, creator_id, create_time, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_leads
    where id = #{id,jdbcType=CHAR}
  </select>
</mapper>