<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolpal.db.inf.TLeadsStudentMapper">

  <insert id="insertOne" parameterType="com.schoolpal.db.model.TLeadsStudent">
    insert into t_leads_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="leadsId != null">
        leads_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="idCode != null">
        id_code,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="schoolGrade != null">
        school_grade,
      </if>
      <if test="classGrade != null">
        class_grade,
      </if>
      <if test="schoolName != null">
        school_name,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdate != null">
        last_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="leadsId != null">
        #{leadsId,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=INTEGER},
      </if>
      <if test="idCode != null">
        #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="schoolGrade != null">
        #{schoolGrade,jdbcType=VARCHAR},
      </if>
      <if test="classGrade != null">
        #{classGrade,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>














  <resultMap id="BaseResultMap" type="com.schoolpal.db.model.TLeadsStudent">
    <id column="leads_id" jdbcType="CHAR" property="leadsId" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="id_type" jdbcType="INTEGER" property="idType" />
    <result column="id_code" jdbcType="VARCHAR" property="idCode" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="school_grade" jdbcType="VARCHAR" property="schoolGrade" />
    <result column="class_grade" jdbcType="VARCHAR" property="classGrade" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="executive_id" jdbcType="CHAR" property="executiveId" />
    <result column="creator_id" jdbcType="CHAR" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    leads_id, first_name, last_name, gender, id_type, id_code, birthday, school_grade, 
    class_grade, school_name, executive_id, creator_id, create_time, last_update
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_leads_student
    where leads_id = #{leadsId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_leads_student
    where leads_id = #{leadsId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.schoolpal.db.model.TLeadsStudent">
    insert into t_leads_student (leads_id, first_name, last_name, 
      gender, id_type, id_code, 
      birthday, school_grade, class_grade, 
      school_name, executive_id, creator_id, 
      create_time, last_update)
    values (#{leadsId,jdbcType=CHAR}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{idType,jdbcType=INTEGER}, #{idCode,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{schoolGrade,jdbcType=VARCHAR}, #{classGrade,jdbcType=VARCHAR}, 
      #{schoolName,jdbcType=VARCHAR}, #{executiveId,jdbcType=CHAR}, #{creatorId,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdate,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.schoolpal.db.model.TLeadsStudent">
    update t_leads_student
    <set>
      <if test="firstName != null">
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=INTEGER},
      </if>
      <if test="idCode != null">
        id_code = #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="schoolGrade != null">
        school_grade = #{schoolGrade,jdbcType=VARCHAR},
      </if>
      <if test="classGrade != null">
        class_grade = #{classGrade,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="executiveId != null">
        executive_id = #{executiveId,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdate != null">
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where leads_id = #{leadsId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.schoolpal.db.model.TLeadsStudent">
    update t_leads_student
    set first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      id_type = #{idType,jdbcType=INTEGER},
      id_code = #{idCode,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      school_grade = #{schoolGrade,jdbcType=VARCHAR},
      class_grade = #{classGrade,jdbcType=VARCHAR},
      school_name = #{schoolName,jdbcType=VARCHAR},
      executive_id = #{executiveId,jdbcType=CHAR},
      creator_id = #{creatorId,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP}
    where leads_id = #{leadsId,jdbcType=CHAR}
  </update>
</mapper>