<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolpal.db.inf.TRoleMapper">
	<resultMap id="RoleResultMap" type="com.schoolpal.db.model.TRole">
		<id column="c_id" jdbcType="CHAR" property="cId" />
		<result column="c_org_id" jdbcType="CHAR" property="cOrgId" />
		<result column="c_name" jdbcType="VARCHAR" property="cName" />
		<result column="c_desc" jdbcType="VARCHAR" property="cDesc" />
<!-- 		<result column="c_available" jdbcType="BIT" property="cAvailable" />
		<result column="c_order_num" jdbcType="INTEGER" property="cOrderNum" /> -->
		<result column="c_rank_id" jdbcType="INTEGER" property="cRankId" />
		<result column="c_rank_name" jdbcType="VARCHAR" property="cRankName" />
	</resultMap>
	<select id="selectRolesByUserId" parameterType="java.lang.String" resultMap="RoleResultMap">
		SELECT 
		      r.c_id, r.c_org_id, r.c_name, r.c_desc, r.c_rank_id
		FROM t_user_role AS ur
		      INNER JOIN t_role AS r ON r.c_id = ur.c_role_id
		WHERE 
		      ur.c_available = 1 AND r.c_available = 1 AND ur.c_user_id = #{cId,jdbcType=CHAR}
	</select>
	<select id="selectOneById" parameterType="java.lang.String" resultMap="RoleResultMap">
		SELECT 
		      c_id, c_org_id, c_name, c_desc, c_rank_id
		FROM t_role
		WHERE c_available = 1
		AND c_id = #{cId,jdbcType=CHAR}
	</select>
	<select id="selectRolesByOrgId" parameterType="java.lang.String" resultMap="RoleResultMap">
		SELECT ro.c_id, ro.c_name, ro.c_desc, ra.c_name AS c_rank_name
		FROM t_role AS ro
			LEFT JOIN t_rank AS ra ON ro.c_rank_id = ra.c_id
		WHERE c_available = 1 AND c_org_id = #{cId,jdbcType=CHAR}
	</select>
    <resultMap id="RoleLiteResultMap" type="com.schoolpal.db.model.TRole">
        <id column="c_id" jdbcType="CHAR" property="cId" />
        <result column="c_name" jdbcType="VARCHAR" property="cName" />
    </resultMap>
    <select id="selectRolesByOrgIdLite" parameterType="java.lang.String" resultMap="RoleResultMap">
        SELECT c_id, c_name
        FROM t_role
        WHERE c_available = 1 AND c_org_id = #{cId,jdbcType=CHAR}
    </select>
	<select id="ifExistsById" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*)
		from t_role
		where c_id = #{cId,jdbcType=CHAR}
	</select>
	<select id="getCountByPrimaryIdsAndRankId" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(*) 
		FROM t_role
		WHERE 
		    c_id in 
		    <foreach collection="cIds" item="item" index="index" open="(" separator="," close=")">#{item}</foreach>
		    and c_rank_id = #{cRankId,jdbcType=INTEGER}
	</select>
	<insert id="insertOne" parameterType="com.schoolpal.db.model.TRole">
		insert into t_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cId != null">
				c_id,
			</if>
			<if test="cOrgId != null">
				c_org_id,
			</if>
			<if test="cName != null">
				c_name,
			</if>
			<if test="cDesc != null">
				c_desc,
			</if>
			<if test="cAvailable != null">
				c_available,
			</if>
			<if test="cOrderNum != null">
				c_order_num,
			</if>
			<if test="cRankId != null">
				c_rank_id,
			</if>
			<if test="cCreator != null">
				c_creator,
			</if>
			<if test="cCreateTime != null">
				c_create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cId != null">
				#{cId,jdbcType=CHAR},
			</if>
			<if test="cOrgId != null">
				#{cOrgId,jdbcType=CHAR},
			</if>
			<if test="cName != null">
				#{cName,jdbcType=VARCHAR},
			</if>
			<if test="cDesc != null">
				#{cDesc,jdbcType=VARCHAR},
			</if>
			<if test="cAvailable != null">
				#{cAvailable,jdbcType=BIT},
			</if>
			<if test="cOrderNum != null">
				#{cOrderNum,jdbcType=INTEGER},
			</if>
			<if test="cRankId != null">
				#{cRankId,jdbcType=INTEGER},
			</if>
			<if test="cCreator != null">
				#{cCreator,jdbcType=CHAR},
			</if>
			<if test="cCreateTime != null">
				#{cCreateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateOneById" parameterType="com.schoolpal.db.model.TRole">
		update t_role
		<set>
			<if test="cOrgId != null">
				c_org_id = #{cOrgId,jdbcType=CHAR},
			</if>
			<if test="cName != null">
				c_name = #{cName,jdbcType=VARCHAR},
			</if>
			<if test="cDesc != null">
				c_desc = #{cDesc,jdbcType=VARCHAR},
			</if>
			<if test="cAvailable != null">
				c_available = #{cAvailable,jdbcType=BIT},
			</if>
			<if test="cOrderNum != null">
				c_order_num = #{cOrderNum,jdbcType=INTEGER},
			</if>
			<if test="cRankId != null">
				c_rank_id = #{cRankId,jdbcType=INTEGER},
			</if>
			<if test="cCreator != null">
				c_creator = #{cCreator,jdbcType=CHAR},
			</if>
			<if test="cCreateTime != null">
				c_create_time = #{cCreateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where c_id = #{cId,jdbcType=CHAR}
	</update>
	<delete id="deleteOneById" parameterType="java.lang.String">
		delete from t_role
		where c_id = #{cId,jdbcType=CHAR}
	</delete>
</mapper>