<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolpal.db.inf.TStudentMapper">

  <select id="selectOneById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from t_student
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectOneByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from t_student
    where id = #{code,jdbcType=CHAR}
  </select>
  <delete id="deleteOneById" parameterType="java.lang.String">
    delete from t_student
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteOneByCode" parameterType="java.lang.String">
    delete from t_student
    where id = #{code,jdbcType=CHAR}
  </delete>
  <insert id="insertOne" parameterType="com.schoolpal.db.model.TStudent">
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="genderId != null">
        gender_id,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="idCode != null">
        id_code,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="schoolGrade != null">
        school_grade,
      </if>
      <if test="classGrade != null">
        class_grade,
      </if>
      <if test="schoolName != null">
        school_name,
      </if>
      <if test="executiveId != null">
        executive_id,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdate != null">
        last_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="genderId != null">
        #{genderId,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=INTEGER},
      </if>
      <if test="idCode != null">
        #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="schoolGrade != null">
        #{schoolGrade,jdbcType=VARCHAR},
      </if>
      <if test="classGrade != null">
        #{classGrade,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="executiveId != null">
        #{executiveId,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateOne" parameterType="com.schoolpal.db.model.TStudent">
    update t_student
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="genderId != null">
        gender_id = #{genderId,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=INTEGER},
      </if>
      <if test="idCode != null">
        id_code = #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="schoolGrade != null">
        school_grade = #{schoolGrade,jdbcType=VARCHAR},
      </if>
      <if test="classGrade != null">
        class_grade = #{classGrade,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="executiveId != null">
        executive_id = #{executiveId,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdate != null">
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>









  <resultMap id="BaseResultMap" type="com.schoolpal.db.model.TStudent">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="id_type" jdbcType="INTEGER" property="idType" />
    <result column="id_code" jdbcType="VARCHAR" property="idCode" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="school_grade" jdbcType="VARCHAR" property="schoolGrade" />
    <result column="class_grade" jdbcType="VARCHAR" property="classGrade" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="executive_id" jdbcType="CHAR" property="executiveId" />
    <result column="creator_id" jdbcType="CHAR" property="creatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, gender, id_type, id_code, birthday, school_grade, class_grade, school_name, 
    executive_id, creator_id, create_time, last_update
  </sql>
</mapper>