<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolpal.db.inf.TUserMapper">
    <select id="selectOneByLoginName" parameterType="java.lang.String" resultMap="UserResultMap">
        SELECT u.*, o.*, 
              po.c_id AS po_id, po.c_code AS po_code, po.c_name AS po_name, po.c_name_abbr AS po_name_abbr, 
              ro.c_id AS ro_id, ro.c_code AS ro_code, ro.c_name AS ro_name, ro.c_name_abbr AS ro_name_abbr
        FROM t_user AS u
        LEFT JOIN t_org AS o ON o.c_id = u.c_org_id
        LEFT JOIN t_org AS po ON po.c_id = o.c_parent_id
        LEFT JOIN t_org AS ro ON ro.c_id = o.c_root_id
        WHERE u.c_available = 1 AND u.c_loginname = #{cName,jdbcType=VARCHAR}
    </select>
    <select id="selectPasswordByLoginName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT c_loginpass
        FROM t_user
        WHERE c_loginname = #{cName,jdbcType=VARCHAR}
    </select>
    <update id="updateLastVisitByLoginName">
        UPDATE
        t_user
        SET c_last_visit_time = now(),
        c_last_visit_ip = #{cLastVisitIp,jdbcType=VARCHAR}
        WHERE c_loginname = #{cName,jdbcType=VARCHAR}
    </update>
    
    <resultMap id="OrgResultMap" type="com.schoolpal.db.model.TOrg">
        <id column="c_id" jdbcType="CHAR" property="cId" />
        <result column="c_code" jdbcType="VARCHAR" property="cCode" />
        <result column="c_name" jdbcType="VARCHAR" property="cName" />
        <result column="c_name_abbr" jdbcType="VARCHAR" property="cNameAbbr" />
        <result column="c_address" jdbcType="VARCHAR" property="cAddress" />
        <result column="c_city" jdbcType="VARCHAR" property="cCity" />
        <result column="c_state" jdbcType="VARCHAR" property="cState" />
        <result column="c_county" jdbcType="VARCHAR" property="cCounty" />
        <result column="c_owner" jdbcType="VARCHAR" property="cOwner" />
        <result column="c_owner_phone" jdbcType="VARCHAR" property="cOwnerPhone" />
        <result column="c_parent_id" jdbcType="CHAR" property="cParentId" />
        <result column="c_root_id" jdbcType="CHAR" property="cRootId" />
        <result column="c_creator" jdbcType="CHAR" property="cCreator" />
        <result column="c_create_time" jdbcType="TIMESTAMP" property="cCreateTime" />
        <result column="c_modifier" jdbcType="VARCHAR" property="cModifier" />
        <result column="c_modify_time" jdbcType="TIMESTAMP" property="cModifyTime" />
        <result column="c_available" jdbcType="BIT" property="cAvailable" />
        <result column="c_order_num" jdbcType="INTEGER" property="cOrderNum" />
        <association property="parentOrg" javaType="com.schoolpal.db.model.TOrg">
            <id column="po_id" jdbcType="CHAR" property="cId" />
            <result column="po_code" jdbcType="VARCHAR" property="cCode" />
            <result column="po_name" jdbcType="VARCHAR" property="cName" />
            <result column="po_name_abbr" jdbcType="VARCHAR" property="cNameAbbr" />
        </association>
        <association property="rootOrg" javaType="com.schoolpal.db.model.TOrg">
            <id column="ro_id" jdbcType="CHAR" property="cId" />
            <result column="ro_code" jdbcType="VARCHAR" property="cCode" />
            <result column="ro_name" jdbcType="VARCHAR" property="cName" />
            <result column="ro_name_abbr" jdbcType="VARCHAR" property="cNameAbbr" />
        </association>
    </resultMap>
	<resultMap id="UserResultMap" type="com.schoolpal.db.model.TUser">
		<id column="c_id" jdbcType="CHAR" property="cId" />
		<result column="c_loginname" jdbcType="VARCHAR" property="cLoginname" />
		<result column="c_loginpass" jdbcType="VARCHAR" property="cLoginpass" />
		<result column="c_realname" jdbcType="VARCHAR" property="cRealname" />
		<result column="c_nickname" jdbcType="VARCHAR" property="cNickname" />
		<result column="c_phone" jdbcType="VARCHAR" property="cPhone" />
		<result column="c_email" jdbcType="VARCHAR" property="cEmail" />
		<result column="c_qq" jdbcType="VARCHAR" property="cQq" />
		<result column="c_available" jdbcType="BIT" property="cAvailable" />
		<result column="c_org_id" jdbcType="CHAR" property="cOrgId" />
		<result column="c_org_root_id" jdbcType="CHAR" property="cOrgRootId" />
		<result column="c_creator" jdbcType="CHAR" property="cCreator" />
		<result column="c_create_time" jdbcType="TIMESTAMP" property="cCreateTime" />
		<result column="c_last_visit_time" jdbcType="TIMESTAMP" property="cLastVisitTime" />
		<result column="c_last_visit_ip" jdbcType="VARCHAR" property="cLastVisitIp" />
		<association property="org" javaType="com.schoolpal.db.model.TOrg" resultMap="OrgResultMap" />
	</resultMap>
</mapper>