<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="ajaxControllerAdvice" class="com.schoolpal.aop.AjaxControllerAdvice"/>
    <aop:config>
        <aop:pointcut id="ajaxControllerPointcut"
                      expression="execution(* com.schoolpal.web.ajax.controller..*(..))"></aop:pointcut>
        <aop:aspect id="ajaxControllerAspect" ref="ajaxControllerAdvice">
            <!--<aop:before method="before" pointcut-ref="ajaxControllerPointcut"></aop:before>-->
            <!--<aop:after method="after" pointcut-ref="ajaxControllerPointcut"></aop:after>-->
            <aop:around method="around" pointcut-ref="ajaxControllerPointcut"></aop:around>
            <!--<aop:after-returning method="afterReturning" pointcut-ref="ajaxControllerPointcut" returning="retVal"></aop:after-returning>-->
        </aop:aspect>
    </aop:config>
</beans>