<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="ajaxControllerLogAdvice" class="com.schoolpal.aop.AjaxControllerLogAdvice"/>
    <aop:config>
        <aop:pointcut id="ajaxControllerLogPointcut" expression="execution(* com.schoolpal.web.ajax.controller..*(..)) and
            @annotation(com.schoolpal.aop.AjaxControllerLog)"></aop:pointcut>
        <aop:aspect id="ajaxControllerLogAspect" ref="ajaxControllerLogAdvice">
            <!--<aop:before method="before" pointcut-ref="ajaxControllerLogPointcut"></aop:before>-->
            <!--<aop:around method="around" pointcut-ref="ajaxControllerLogPointcut"></aop:around>-->
            <!--<aop:after method="after" pointcut-ref="ajaxControllerLogPointcut"></aop:after>-->
            <aop:after-returning method="afterReturning" pointcut-ref="ajaxControllerLogPointcut" returning="retVal"></aop:after-returning>
            <aop:after-throwing method="afterThrowing" pointcut-ref="ajaxControllerLogPointcut" throwing="e"></aop:after-throwing>
        </aop:aspect>
    </aop:config>

    <bean id="ajaxControllerResponseBodyAdvice" class="com.schoolpal.aop.AjaxControllerResponseBodyAdvice"/>
    <aop:config>
        <aop:pointcut id="ajaxControllerResponseBodyPointcut" expression="execution(* com.schoolpal.web.ajax.controller..*(..))"></aop:pointcut>
        <aop:aspect id="ajaxControllerResponseBodyAspect" ref="ajaxControllerResponseBodyAdvice">
            <!--<aop:before method="before" pointcut-ref="ajaxControllerResponseBodyPointcut"></aop:before>-->
            <aop:around method="around" pointcut-ref="ajaxControllerResponseBodyPointcut"></aop:around>
            <!--<aop:after-returning method="afterReturning" pointcut-ref="ajaxControllerResponseBodyPointcut" returning="retVal"></aop:after-returning>-->
            <!--<aop:after method="after" pointcut-ref="ajaxControllerResponseBodyPointcut"></aop:after>-->
            <!--<aop:after-throwing method="afterThrowing" pointcut-ref="ajaxControllerResponseBodyPointcut" throwing="e"></aop:after-throwing>-->
        </aop:aspect>
    </aop:config>

    <bean id="serviceLogAdvice" class="com.schoolpal.aop.ServiceLogAdvice"/>
    <aop:config>
        <aop:pointcut id="serviceLogAdvicePointcut" expression="execution(* com.schoolpal.service..*(..)) and
            @annotation(com.schoolpal.aop.ServiceLog)"></aop:pointcut>
        <aop:aspect id="serviceLogAdviceAspect" ref="serviceLogAdvice">
            <!--<aop:before method="before" pointcut-ref="serviceLogAdvicePointcut"></aop:before>-->
            <!--<aop:after method="after" pointcut-ref="serviceLogAdvicePointcut"></aop:after>-->
            <!--<aop:around method="around" pointcut-ref="serviceLogAdvicePointcut"></aop:around>-->
            <aop:after-returning method="afterReturning" pointcut-ref="serviceLogAdvicePointcut" returning="retVal"></aop:after-returning>
            <aop:after-throwing method="afterThrowing" pointcut-ref="serviceLogAdvicePointcut" throwing="e"></aop:after-throwing>
        </aop:aspect>
    </aop:config>


</beans>