section > ul {
    margin-left: -55px;
}

section > ul > li {
    list-style: none;
    margin-top: 15px;
}

section label {
    width: 100px;
    display: inline-block;
    text-align: right;
}

section > ul > li > input {
    width: 500px;
    padding: 3px;
    font-size: 18px;
}

section > ul > li:first-child input {
	border: solid 1px #aaa;
	cursor: not-allowed;
    background-color: #d9edf7;
}

section > ul > li:nth-child(4) input {
	width: 223px;
}

section > ul ul {
    display: inline-block;	
    font-size: 16px;
    margin-left: -55px;
}

section > ul ul li {
	list-style: none;
	display: inline-block;
}

section > ul ul li {
	margin-left: 15px;
}

section > ul ul li:last-child {
	padding-left: 20px;
	border-left: solid 1px #aaa;
}