section .row > div:nth-child(1), section .row > div:nth-child(1) div {
	margin-top: 5px;
}

section .row > div:nth-child(1) span.glyphicon:hover  {
	color: #f00;
	cursor: pointer;
}

section .row > div:nth-child(1) .name {
	padding: 5px;
}
section .row > div:nth-child(1) .name:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.father {
	font-weight: bold;
}

#title {
	height: 50px;
	border-bottom: solid 1px #aaa;;
	padding-top: 15px;
	font-weight: bold;
	font-size: 16px;
	color: #337ab7;
	margin-bottom: 10px;
}

th {
	text-align: center;
	background-color: #369;
	color: #fff;
}

#roles td:not(:last-child) {
	text-align: center;
}

span.active {
    background-color: #d9edf7;
    color: #369;
}