section .row > div:nth-child(1), section .row > div:nth-child(1) div {
	margin-top: 5px;
}

section .row > div:nth-child(1) span.glyphicon:hover  {
	color: #f00;
	cursor: pointer;
}

section .row > div:nth-child(1) .name {
	padding: 5px;
}
section .row > div:nth-child(1) .name:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.father {
	font-weight: bold;
}

#title {
    height: 50px;
    border-bottom: dashed 1px #aaa;;
    padding-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #337ab7;
    margin-bottom: 10px;
}

span.active {
    background-color: #d9edf7;
    color: #369;
}

section .row > div:nth-child(2) {
	padding-top: 3px;
}

section .row > div:nth-child(2) div {
	margin-top: 6px;
    cursor: pointer;
}
section .row > div:nth-child(2) div:hover {
	text-decoration: underline;
}

th:nth-child(1) {
    width: 200px;
}
th:nth-child(2) {
    width: 80px;
}
th:nth-child(3) {
	width: 350px;
}

tbody tr.top {
	margin-top: 5px;
    border-top: solid 1px #333;
}

tbody td {
	padding: 3px;
}

td:nth-child(3) span {
	margin-left: 5px;
	margin-right: 8px;
}