section ul {
    margin-left: -55px;
}

section li {
    list-style: none;
    margin-top: 15px;
}

section label {
    width: 100px;
    display: inline-block;
    text-align: right;
}

section input, select {
    width: 310px;
    padding: 3px;
    font-size: 18px;
}

section li:nth-child(1) input {
    width: 310px;
}
section li:nth-child(2) input {
    width: 150px;
}
section li:nth-child(3) input,
section li:nth-child(3) span {
	cursor: pointer;
	background-color: #d9edf7;
}
section li:nth-child(4) select {
    width: 150px;
    margin-right: 6px;
}
section li:nth-child(5) input {
    width: 470px;
}
section li:nth-child(6) input, li:nth-child(7) input {
    width: 150px;
}

.orgsection {
	color: #369;
	padding: 20px;
	padding-top: 30px;
}
.orgsection div {
	margin-top: 5px;
	margin-bottom: 15px;
}

#parent {
	border: solid 1px #aaa;
}