<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<context id="context1">
		<jdbcConnection
			connectionURL="jdbc:mysql://127.0.0.1:3306/schoolpal?useUnicode=true&amp;characterEncoding=UTF-8"
			driverClass="com.mysql.jdbc.Driver" password="schoolpal" userId="schoolpal" />
		<javaModelGenerator targetPackage="com.schoolpal.db.mybatis.model"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="false" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<sqlMapGenerator targetPackage="com.schoolpal.db.mybatis.mapper"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="false" />
		</sqlMapGenerator>
		<javaClientGenerator targetPackage="com.schoolpal.db.mybatis.inf"
			targetProject="src/main/java" type="XMLMAPPER" />
		<table schema="schoolpal" tableName="t_user"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="false" />
		</table>
	</context>
</generatorConfiguration>